# Ignore Mac junky files
.DS_Store

# Ignore Vim swap files, those might be
# created by a vanilla setuo when editing
# the resource file
*.swp

# Ignore the backup, swap and undo folders' content
# but track the README's to allow keeping the directories
vim/bundle/*
!vim/bundle/README.md
vim/backup/*
!vim/backup/README.md
vim/undo/*
!vim/undo/README.md
vim/swap/*
!vim/swap/README.md

# Ignore netrw files
vim/.netrw*

#Emacs
emacs/elpa
emacs/auto-save-list
emacs/*.dat
emacs/*.bkp
emacs/*.cache
emacs/*.eld